emoji == 2.9.0
fastapi == 0.108.0
huggingface_hub
librosa
numpy >=  1.22.0
omegaconf == 2.3.0
pydantic == 2.5.3
pydantic_settings
python-dotenv == 1.0.0
python-magic
scipy == 1.11.4
simpleaudio == 1.0.4
sse_starlette
starlette_context
uvicorn == 0.25.0
mlx-lm
torch
llama-cpp-python
python-multipart
